@media screen and (min-width: 1280px) {

    .bg-pattern {
        position: absolute;
        width: 54.34375%;        
        height: 100vh;
    }

    main {
        position: relative;
        height: 100vh;
    }
    
     section.logo img.logo--picture {
         width: 158px; 
         height: 33px;
         position: absolute;
         top: 7.3%;
         left: 11.45%;
     }
 
     .hero {
        position: relative;
        height: 100vh;
        display: table;
        float: right;
        clear: left;
        vertical-align: middle;
     }
    
         .hero--image {
            /*max-height sets a limit to the actual image,
            so it can fit in the container*/
            display: table-cell;
            vertical-align: middle;
            text-align: center;
         }

            .hero--image_desktop {
                height: 788px;
                max-height: 800px;
                margin-bottom: -6.6px;
            }
            .hero--image_mobile {display: none}
 
     header.introContent {
         top: 26%;
         position: absolute;
         width: 444px; 
         height: 404px;
         margin: 0;
         left: 11.45%;
     }
         h1.introContent--heading {
             font-size: 4em;
             line-height: 71px;
             font-style: normal;
             letter-spacing: 10.8254px;
             text-align: left;
         }
         
     p.introContent--para { 
         width: 444px;
         height: 84px; 
         line-height: 28px; 
         margin: 1rem 0 2rem 0;
        }
 
     .email {
        border-radius: 28px;
        width: 445px; 
        height: 56px; 
     }
         input.email--input {
             margin-top: .5px;
             margin-left: 5px;
             font-size: .8em;
             width: 310px; 
             height: 52px; 
             padding-left: 20px;
         } 

         .icon-error{
            margin-top: 14px;
             margin-right: 30px;
         }
 
         button.btn{ 
            margin-left: 30px;
            width: 100px; 
            height: 56px; 
         }

         .validity-text{
             margin-top: 12px;
             font-weight: 400;
             font-size: .8em;
             padding-left: 30px;
         }
 
         .validity-text--error{
            margin-top: 12px;
            font-weight: 400;
            font-size: .8em;
            padding-left: 30px;
        }

     footer{
         width: 400px;
         left: 13.06%;
         bottom: 0;
     }
 
 } 

 @media screen and (min-width: 1440px) {

    .bg-pattern {
        width: 59.34375%;
    }
 }