@media only screen and (max-width: 500px) {

    .bg-pattern {display: none}

    main {
        min-height: 800px;
    }

    section.logo img.logo--picture {
        position: relative;
        width: 100px;
        height: 20.89px;
        margin: 31px;
    }

    .hero--image_desktop {display: none}
    .hero--image_mobile {margin-bottom: 64px}

    aside.hero .hero--image_mobile, header{
        display: block;
        margin: 0 auto;
        margin-bottom: 4rem;
    }

    header.introContent {
        margin-top: 4rem;
        width: 311px;
        height: 310px;
    }

        h1.introContent--heading {
            width: 311px;
            height: 126px; 
            font-size: 40px;
            line-height: 42px;
            font-style: normal;
            letter-spacing: 10.8254px;
            text-align: center;
            margin: 0;
        }
            
        p.introContent--para {
            width: 311px; 
            height: 88px; 
            font-size: .875em; 
            line-height: 22px; 
            color: #CE9898;
            margin: 1rem 0 2rem 0;
            text-align: center;
        }

        .email {
            width: 311px; 
            height: 48px; 
        }
            input.email--input {
                font-size: .8em;
                margin-left: 4px;
                padding-left: 10px;
                width: 208px; 
                height: 44px; 
            } 

            .icon-error{
                margin-top: 9px;
                margin-right: 15px;
            }

            button.btn{
            /*removes svg border*/
            margin-left: 33px;
            width: 64px; 
            height: 48px; 
            }

            .validity-text{
                font-size: .8em;
                margin-top: 12px;
                padding-left: 15px;
            }

            .validity-text--error{
                font-size: .8em;
                margin-top: 12px;
                padding-left: 15px;
            }
            
    footer {
        width: 100%; 
        height: 1.2rem;
        font-size: .5rem;
        color: #CE9898;
        text-align: center;
    }

        
}

@media only screen and (max-width: 240px) {
 
    header.introContent {
        margin-top: 4rem;
        width: 210px;
        height: 360px;
    }

        h1.introContent--heading {
            width: 210px;
            height: 126px; 
            font-size: 40px;
            line-height: 42px;
            font-style: normal;
            letter-spacing: 4.8254px;
            text-align: center;
            margin: 0;
        }
            
        p.introContent--para {
            width: 210px; 
            height: 88px; 
            font-size: .875em; 
            line-height: 22px; 
            color: #CE9898;
            margin: 1rem 0 5rem 0;
            text-align: center;
        }

        form.email {
            width: 210px; 
            height: 48px; 
        }
            input.email--input {
                font-size: .8em;
                margin-left: 4px;
                width: 183px; 
                height: 44px; 
            } 

            button.btn{
            /*removes svg border*/
            margin-left: -42px;
            margin-top: -1px;
            width: 64px; 
            height: 47px; 
            }

}