body {line-height: 64px; font-family: 'Josefin Sans', Arial, Helvetica, sans-serif; background-color: #FAFAFA}

header.introContent {width: 444px; height: 192px}

span.introContent--heading_peachC {font-weight: 300; color: #CE9898}
span.introContent--heading_neuGrayC {font-weight: 600; color: #423A3A}

p.introContent--para { width: 444px; height: 84px; line-height: 28px; color: #CE9898}